# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: '**'
    tags: '*'
  pull_request:
    branches: '**'
  workflow_dispatch:  # Allow manual triggering

jobs:
  build:
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    # Cache NuGet packages
    # - name: Cache NuGet packages
    #   uses: actions/cache@v4
    #   with:
    #     path: ~/.nuget/packages
    #     key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}-${{ matrix.targetFramework }}
    #     restore-keys: |
    #       ${{ runner.os }}-nuget-

    - name: Build InfoPanel
      run: |
        dotnet restore
        dotnet publish InfoPanel/InfoPanel.csproj -c Release -r win-x64 --self-contained -p:PublishProfile=FolderProfile -p:Platform=x64

    - name: Install and Compile Inno Setup Installer
      shell: powershell
      run: |
        cd ${{ github.workspace }}\InnoSetup
        iscc "setup.iss"      

    - name: Upload Artifact Setup
      uses: actions/upload-artifact@v4
      with:
        name: InfoPanel-Setup-${{ github.sha }}
        path: "${{ github.workspace }}/InnoSetup/Output/InfoPanelSetup.exe"
        retention-days: 90

    ###################################
    # Everything below is only for tagged Releases
    ###################################
    - name: Upload Release Asset
      if: startsWith(github.ref, 'refs/tags/')
      id: upload-release-asset
      uses: ncipollo/release-action@v1
      with:
        artifacts: ${{ github.workspace }}/InnoSetup/Output/InfoPanelSetup.exe
        generateReleaseNotes: true
        allowUpdates: true
        draft: false
        prerelease: false