# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore

    - name: Build with PS
      shell: powershell
      run: |
        mkdir ${{ github.workspace }}/build
        dir ${{ github.workspace }}
        dotnet build InfoPanel\InfoPanel.csproj -c Release --output "${{ github.workspace }}\build" 
    - name: Upload Artifact
      uses: actions/upload-artifact@v1
      with:
        name: InfoPanel
        path:  "${{ github.workspace }}/build/"
